Links starting with `#` are marked as "external"

### Describe the bug

This might be a `docutils` problem ...

When creating a same-page-link that starts with `#`, the link is formatted as "external", even though it points to the same page, which I would consider "internal", right?

### How to Reproduce

`index.rst`:

```rst
Title
=====

`link to subsection <#a-subsection>`_


A Subsection
------------

`link to top <#>`_
```

`conf.py`:

```python
# empty
```

Run:

```python -m sphinx . _build```

After that, `_build/index.html` contains this:

```html
<p><a class="reference external" href="#a-subsection">link to subsection</a></p>
...
<p><a class="reference external" href="#">link to top</a></p>
```

### Environment Information

```text
Platform:              linux; (Linux-6.1.0-6-amd64-x86_64-with-glibc2.36)
Python version:        3.11.2 (main, Mar 13 2023, 12:18:29) [GCC 12.2.0])
Python implementation: CPython
Sphinx version:        6.2.0+/0fb6716f3
Docutils version:      0.19.1b.dev
Jinja2 version:        3.1.2
Pygments version:      2.14.0
```


### Sphinx extensions

_No response_

### Additional context

https://github.com/spatialaudio/nbsphinx/issues/530

This should be because of:

https://github.com/sphinx-doc/sphinx/blob/5a6b2b16b6b588cdd4dab1b43b7873153da10baa/sphinx/writers/html5.py#L208-L213

According to the [docutils specifications](https://docutils.sourceforge.io/docs/ref/rst/restructuredtext.html#embedded-uris-and-aliases):

> A hyperlink reference may directly embed a target URI or (since Docutils 0.11) a hyperlink reference within angle brackets ("<...>") as follows:
> ```
> See the `Python home page <https://www.python.org>`_ for info.
>
> This `link <Python home page_>`_ is an alias to the link above.
> ```
> This is exactly equivalent to:
> ```
> See the `Python home page`_ for info.
>
> This link_ is an alias to the link above.
> 
> .. _Python home page: https://www.python.org
> .. _link: `Python home page`_
> ```

In particular, `#` is treated as an hyperlink reference (`#` is not a valid URI since `#` is excluded according to [RFC2396, §2.4.3](https://www.rfc-editor.org/rfc/rfc2396.txt) and not as an (HTML) anchor. There are other various reasons why this does not work (and *should* not work):

- in reST, auto-numbered footnotes are `[#]` and thus this may be confusing. See https://docutils.sourceforge.io/docs/ref/rst/restructuredtext.html#footnotes for details. 
- Using `<#>` to go to the top of the page would only work for HTML outputs and is quite a hack. Instead, having an explicit label at the top of the page should be better (I think it should work for any output but I have not tested that).

> An "internal" reference would point to an explicit (hard-coded) label (see https://docutils.sourceforge.io/docs/ref/rst/restructuredtext.html#hyperlink-targets). 

An "internal reference" uses a [refname](https://docutils.sourceforge.io/docs/ref/doctree.html#refname) instead of a [refuri](https://docutils.sourceforge.io/docs/ref/doctree.html#refuri). The "reference name" may be established by an explicit target or an implicit target (like a section title).

> Since there is no explicit label being created, it does not work. 

Actually, 
~~~
`link to subsection <a subsection_>`__


A Subsection
------------
~~~
works fine and creates an internal reference.

>Now, by looking at the Sphinx implementation, I think we should mark `internal=True` when a reference has an explicit target starting with `#`.

This may be an enhancement for the Docutils HTML5 writer. It is a backwards incompatible change, though.

