RFC target could not be a number

**Describe the bug**
There is a RFC in the Python documentation with a target that is not a number: `RFC 2045 section 6.8` at [here](https://docs.python.org/3.8/library/xmlrpc.client.html#xmlrpc.client.Binary.encode) is pointing to `2045#section-6.8` (``:rfc:`RFC                       
 2045 section 6.8 <2045#section-6.8>` ``).

In the code, [Sphinx is checking](https://github.com/sphinx-doc/sphinx/blob/68cc0f7e94f360a2c62ebcb761f8096e04ebf07f/sphinx/roles.py#L249-L255 
) that the target must be a number, but this is not always true.

See [this line of a TravisCI job](https://travis-ci.com/github/python/python-docs-es/builds/203347619#L321) to check the message being triggered.

**Expected behavior**
If the RFC role target contains a `#` character, all before that must be a number.



It seems the message is shown on invoking `pospell` command, right? This is not a project for the command.

Note: Sphinx has supported it since #1381, I think. Please let me know if something not working.


Yes, sorry my mistake :+1: