EPUB builder: Fix non-standard font warnings when running epubcheck

### Describe the bug

If an EPUB generated from Sphinx includes custom OTF or TTF fonts, the MIME type specified for those fonts in `content.opf` are `application/x-font-otf` or `application/x-font-ttf` respectively.

So, when running `epubcheck` on the generated EPUB, messages like the following appear:

``` {.sourceCode .console}
INFO(CSS-007): build/epub/book.epub/_static/fonts.css(4,5):
Font-face reference _static/fonts/Figtree-Regular.otf
refers to non-standard font type application/x-font-otf.

INFO(CSS-007): build/epub/book.epub/_static/fonts.css(39,5):
Font-face reference _static/fonts/Literata12pt-Regular.ttf
refers to non-standard font type application/x-font-ttf.
```

The standard MIME type for OTF and TTF fonts are `font/otf` and `font/ttf` respectively, as per IANA [Media Types](https://www.iana.org/assignments/media-types/media-types.xhtml#font) specification and are also listed in the EPUB 3 [Core media types](https://www.w3.org/TR/epub/#sec-core-media-types) specification.

The messages from epubcheck are only informational and not errors or warnings. The built EPUB can still be opened in Calibre or other eBook readers. However, adding the correct MIME type will prevent those messages and will also result in a valid EPUB.


### How to Reproduce

**Create conf.py** with the following content:

```
project = "Custom fonts in Sphinx EPUB"
copyright = "2023, Author"
author = "Author"
version = "1.0" 
html_static_path = ["_static"]

epub_basename = "book"
epub_css_files = ["custom.css"]
```

**Download fonts**

Save them in `_static`.

- [Literata-Regular.ttf](https://github.com/googlefonts/literata/blob/main/fonts/ttf/Literata-Regular.ttf)
- [Figtree-Bold.otf](https://github.com/erikdkennedy/figtree/blob/master/fonts/otf/Figtree-Bold.otf)


**Create _static/custom.css** with the following content:

```
@font-face {
    font-family: "Literata";
    src: url("Literata-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("Figtree-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Literata", serif;
    font-weight: normal;
}

h1, h2, h3 {
    font-family: "Figtree", sans-serif;
    font-weight: bold;
}
```

Create **index.rst** with the following content:

```
Custom fonts in Sphinx EPUB
===========================

Steps:

1. Save fonts in OTF or TTF format in the '_static' directory.

2. Create '_static/custom.css' and add font-face declarations.

3. Build EPUB using 'make epub'.
```

**Build EPUB**

`make epub`

**Run Epubcheck**

`epubcheck build/epub/book.epub`

### Environment Information

```text
Platform:              linux; (Linux-5.15.0-73-generic-x86_64-with-glibc2.35)
Python version:        3.10.6 (main, May 29 2023, 11:10:38) [GCC 11.3.0])
Python implementation: CPython
Sphinx version:        7.0.1
Docutils version:      0.20.1
Jinja2 version:        3.1.2
Pygments version:      2.15.1


EPUBCheck v4.2.6
```


### Sphinx extensions

_No response_

### Additional context

Sample EPUB files

[epub_files.zip](https://github.com/sphinx-doc/sphinx/files/11856073/epub_files.zip)


[RFC 8081, §2](https://www.rfc-editor.org/rfc/rfc8081.html#section-2) states that 

> At the same time, the majority of sites resort to using generic types such as "application/octet-stream", "text/plain", and "text/html", or use unregisterable types such as "application/x-font-ttf".

Although they are aware of the inconsistencies existing across the world, I agree that we should update our custom type. I'll make a PR soon to update the other deprecated MIME types that were not standardized (I think this portion of the code has not been touched for years).

__Remark__. Strictly speaking, using `x-` prefixes is fine according to [RFC 2048, §2.3.1](https://datatracker.ietf.org/doc/html/rfc2048#section-2.3.1):

> the "x-" prefix specified in [RFC 2045](https://datatracker.ietf.org/doc/html/rfc2045) can be used until registration is complete.


Thank you picnixz and AA-Turner.